<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/shop.css' />
    <title>Shop</title>
</head>
<body>

<%- include('layouts/header')%>

<% if(session.user_id) { %>


<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <a href="/auth/logout" class="btn btn-dark" style="margin-bottom: 10px">Logout</a>
    <a href="/cart" class="btn btn-dark">My cart</a>
</div>

<% if(messGood != '') { %>
    <h4 class="alert alert-success mt-4" style="width: 280px"><%=  messGood  %></h4>
<% } %>
<% if(messBad != '') { %>
    <h4 class="alert alert-danger mt-4" style="width: 320px"><%=  messBad  %></h4>
<% } %>

    <div class="container mt-4">
        <%results.forEach(function(row){%>
                <div class="card">
                    <div class="card-body" style="width: 50%;">
                        <h5 class="card-title"><%=row.prod_name%></h5>
                        <p class="card-text"><%=row.description%></p>
                        <p class="card-text">Price (USD): <%=row.price%></p>
                        <p class="card-text">On stock: <%=row.on_stock%></p>
                        <form action="/cart/add" method="post" style="bottom: 100%">
                            <input type="hidden" name="id" value="<%=row.id%>">
                            <button type="submit" class="btn btn-dark">Add to Cart</button>
                        </form>
                    </div>
                    <div class="card-body" style="width: 60%">
                        <img src="/images/<%=row.id%>.jpg" alt="phone">
                    </div>
                </div>
        <%})%>
    </div>

<% } else { %>

    <%- include('layouts/non-login')%>

<%}%>

<%- include('layouts/footer')%>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>